.yadmm-page {
    padding: .5rem 1rem;
}

.yadmm-page .title {
    margin: 0;
    padding-bottom: 1rem;
    pointer-events: none;
}

.yadmm-page .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/* mod listing */
.yadmm-page.yadmm-manage {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.yadmm-mod-list {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 4rem;
}

/* settings page */
footer {
    position: absolute;
    bottom: 0;
}
footer p a {
    color: var(--navbar-active);
    text-decoration: underline;
    cursor: pointer;
}
.path-setup h2 {
    font-weight: bold;
    margin: 0;
}
.path-setup p {
    font-weight: bold;
    margin: 2px;
}
.path-setup .options input, .path-setup .options button {
    text-align: center;
    font-family: monospace;
    color: var(--text);
    background-color: var(--navbar-bg);
    padding: .5rem 1rem;
    border: 2px solid var(--navbar-active);
    border-radius: .5rem;
    margin: .5rem 1rem 0 0;
}

.path-setup .options button:hover {

}