.yadmm-page {
    padding: .5rem 1rem;
}

.yadmm-page .title {
    margin: 0;
    padding-bottom: 1rem;
    pointer-events: none;
}

.yadmm-page .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/* mod listing */
.yadmm-page.yadmm-manage {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.yadmm-mod-list {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 4rem;
}